.slidup-transition {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	transition: all 0.3s ease;
	transform: translateY(0);
	opacity: 1
}

.slidup-enter {
	transform: translateY(100%);
	opacity: 0;
}

.slidup-leave {
	transform: translateY(-100%);
	opacity: 0;
}

.slidright-transition {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	transition: all 0.3s ease;
	transform: translateX(0);
	opacity: 1
}

.slidright-enter {
	transform: translateX(-100%);
	opacity: 0;
}

.slidright-leave {
	transform: translateX(100%);
	opacity: 0;
}

.full-transition {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	.progress-meter {
		transition: all 0.3s ease-in;
	}
}

.full-enter {
	opacity: 0;
	.progress-meter {
		width: 0!important;
	}
}

.full-leave {
	opacity: 0;
	.progress-meter {
		width: 0!important;
	}
}