.slidup-transition {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	transition: all 0.3s ease;
	transform: translateY(0);
	opacity: 1
}

.slidup-enter {
	transform: translateY(100%);
	opacity: 0;
}

.slidup-leave {
	transform: translateY(-100%);
	opacity: 0;
}