// Sass utilities
@import 'foundation';
@import 'settings';

@import 'font-awesome';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-progress-bar;

html {
  height: 100%;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include breakpoint(small only) {
  	display: block;
  }
}

.wrapper {
	@include grid-row;

	margin: 0 $global-padding;
}

.intro {

	@include breakpoint(small only) {
		font-size: 0.8rem;
	}

	strong {
		color: $primary-color;
	}
}

.picto {
  fill: $dark-gray;
  height: 50px;
}

.stat {
	color: $secondary-color;
}

.weather {
	@include grid-row(12);

	> div {
		@include grid-col(12);
		text-align: center;
		margin-bottom: 1rem;
		@include breakpoint(medium) {
			@include grid-col-size(4);
		}
	}

	.desc {
		@include grid-col(12);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: solid 1px $medium-gray;
	}
}

.card {
	padding: $global-padding;
	background: $white;
	border: solid 1px $medium-gray;
	border-radius: $global-radius;
	box-shadow: 0px 00px 5px $medium-gray;
}